*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #d1106a, #25fcf1);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    width: 380px;
    padding: 30px;
    border-radius: 15px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

.descricao {
    color: #555353;
    margin-bottom: 25px;
}

.campo {
    text-align: left;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;

    color: #333;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 8px;

    font-size: 16px;
    outline: none;
}

input:focus {
    border-color: #2575fc;

    box-shadow: 0 0 5px rgba(37, 117, 252, 0.3);
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;

    border: none;
    border-radius: 8px;

    background-color: #fd69cc;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    background-color: #ff3064;
    transform: translateY(-2px);
}

#resultado {
    margin-top: 25px;

    color: #01040a;
    font-size: 22px;
}
